* {
    margin: 0;
}

body {
    margin: 0;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Georgia, ui-serif, serif;
}