:root {
  --t-color-primary: #141414;
  --t-color-background: #FFF5ED;
  --t-color-overlay-background: #ffffff;
  --t-color-overlay-primary: #333333;
  --t-color-secondary-overlay-background: #fff4bb;
  --t-color-secondary-overlay-primary: var(--t-color-primary);

  --t-color-accent-A: #FF80DF; /* "Magenta" (in quotes) */
  --t-color-accent-B: #FFE226; /* Yellow */
  --t-color-accent-C: #5CB8FF; /* Cyan */

  --t-color-accent-background-A: #4D4139; /* Dirt */
  --t-color-accent-background-B: #394D3E; /* Chalkboard */

  --t-border-primary: solid 1pt var(--t-color-primary);
  --t-border-secondary: dashed 1pt var(--t-color-primary);

  --t-radius-primary: 2pt;
  --t-radius-large: 4pt;

  --t-font-family-primary: "Work Sans", ui-sans-serif, sans-serif;
  --t-font-family-secondary: "Cascadia Code", ui-monospace, monospace;

  --t-font-size-large: clamp(1rem, 6vw, 2.5rem);
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

p, h1, h2, h3, h4 {
  user-select: none;
}

body {
  background-color: var(--t-color-background);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100dvw;
  height: 100dvh;

  font-family: var(--t-font-family-primary);
}

#app {
  width: 100%;
  height: 100%;
}

input,
button {
  padding: 0.6ch;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--t-color-overlay-background);
  color: var(--t-color-overlay-primary);
  border-radius: var(--t-radius-primary);
}

button {
  color: var(--t-color-overlay-background);
  background-color: var(--t-color-overlay-primary);
  transition: all 100ms;
  user-select: none;
  cursor: pointer;
  border: solid 1.2pt var(--t-color-primary);
  filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.286));
}

button:focus,
button:hover {
  outline: var(--t-border-secondary);
  outline-offset: 2pt;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: rotateX(40deg) rotateY(10deg);
  outline: none;
}
