:root {
  --t-color-primary: #333333;
  --t-color-background: #e8e5da;
  --t-color-overlay-background: #ffffff;
  --t-color-overlay-primary: #333333;
  --t-color-secondary-overlay-background: #fff4bb;
  --t-color-secondary-overlay-primary: var(--t-color-primary);

  --t-color-accent: #d42121;
  --t-color-accent-dim: #9f1919;
  --t-color-accent-contrast: rgb(255, 246, 246);

  --t-border-primary: solid 1pt var(--t-color-primary);
  --t-border-secondary: dashed 1pt var(--t-color-primary);

  --t-radius-primary: 2pt;
  --t-radius-large: 4pt;

  --t-font-family-primary: "Work Sans", ui-sans-serif, sans-serif;
  --t-font-family-secondary: "Cascadia Code", ui-monospace, monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--t-color-background);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  font-family: var(--t-font-family-primary);
}

#app {
  width: 100%;
  height: 100%;
}

input,
button {
  padding: 0.6ch;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--t-color-overlay-background);
  color: var(--t-color-overlay-primary);
  border: var(--t-border-primary);
  border-radius: var(--t-radius-primary);
}

button {
  color: var(--t-color-overlay-background);
  background-color: var(--t-color-overlay-primary);
  transition: all 100ms;
  user-select: none;
  cursor: pointer;
}

button:focus,
button:hover {
  outline: var(--t-border-secondary);
  outline-offset: 2pt;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: rotateX(40deg) rotateY(10deg);
  outline: none;
}
